@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.row {
  @apply flex flex-row
}

.col {
  @apply flex flex-col
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
.cardddd{
  background-color: red;
  height: 100px;
  width: 100px;
}

.flex-box{
  display: flex;
  flex-direction: wrap;
  gap: 4px;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
body::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}